@use './base/colors';
@use './functions/palette';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --green-sunstack: #26a17e;
  --on-green-sunstack: #252525;
  --green-sunstack-darker: #2d9a7a;
  --grey-sunstack: #ededed;
  --grey-sunstack-darker: #717171;
  --yellow-sunstack: #f7bb16;
  --blue: #16a1f7;
  --main-container-width: 1560px;
}

.no-border {
  border: none !important;
}

.border-warning {
  border-color: rgb(var(--v-theme-warning)) !important;
}

.border-error {
  border-color: rgb(var(--v-theme-error)) !important;
}

.border-success {
  border-color: rgb(var(--v-theme-success)) !important;
}

.border-primary {
  border-color: rgb(var(--v-theme-primary)) !important;
}

.border-secondary {
  border-color: rgb(var(--v-theme-secondary)) !important;
}

.border-info {
  border-color: rgb(var(--v-theme-info)) !important;
}

.border-info-200 {
  border-color: var(--info-200) !important;
}

.background-transparent {
  background-color: transparent !important;
}

.v-timeline--horizontal.v-timeline .v-timeline-item:nth-child(2n + 1) .v-timeline-item__body {
  align-self: normal !important;
}

.main-section-title {
  margin-block-end: 1rem;
}

.layout-page-content,
.layout-navbar,
.layout-simulation-solar {
  inline-size: 100% !important;
  margin-inline: auto !important;
}

.layout-container-fluid {
  max-inline-size: 100% !important;
}

.layout-container-width-fixed {
  max-inline-size: var(--main-container-width) !important;
}

.layout-simulation-solar {
  max-inline-size: var(--main-container-width) !important;
}

.card--header__icon {
  block-size: 32.6rem;
}

.card-scrollable {
  overflow-y: scroll !important;
}

.no-transition {
  transition: none !important;
}

.v-slide-group__content {
  //background-color : rgb(var(--v-theme-background)) !important;
}

.min-height-0 {
  min-height: 0 !important;
}

.text-super {
  vertical-align: super;
}

.v-tabs--vertical:not(.v-tabs-pill) {
  border-inline-end: 1px solid rgba(var(--v-border-color), var(--v-border-opacity));
}

.v-tabs--vertical:not(.v-tabs-pill) .v-tab__slider {
  inset-inline-end: 0;
  inset-inline-start: unset;
}

.v-tabs.v-tabs-pill:not(.v-tabs--stacked).v-tabs--density-default {
  --v-tabs-height: 38px;
}

.v-tabs.v-tabs-pill .v-tab.v-btn {
  border-radius: 0.25rem !important;
  transition: none;
}

.v-tabs.v-tabs-pill .v-tab.v-btn .v-tab__slider {
  visibility: hidden;
}

.v-tabs.v-tabs-pill .v-slide-group-item--active.v-tab--selected.text-primary {
  background-color: rgb(var(--v-theme-primary));
  color: rgb(var(--v-theme-on-primary)) !important;
}

.v-tabs.v-tabs-pill .v-slide-group-item--active.v-tab--selected.text-secondary {
  background-color: rgb(var(--v-theme-secondary));
  color: rgb(var(--v-theme-on-secondary)) !important;
}

.v-tabs.v-tabs-pill .v-slide-group-item--active.v-tab--selected.text-error {
  background-color: rgb(var(--v-theme-error));
  color: rgb(var(--v-theme-on-error)) !important;
}

.v-tabs.v-tabs-pill .v-slide-group-item--active.v-tab--selected.text-info {
  background-color: rgb(var(--v-theme-info));
  color: rgb(var(--v-theme-on-info)) !important;
}

.v-tabs.v-tabs-pill .v-slide-group-item--active.v-tab--selected.text-success {
  background-color: rgb(var(--v-theme-success));
  color: rgb(var(--v-theme-on-success)) !important;
}

.v-tabs.v-tabs-pill .v-slide-group-item--active.v-tab--selected.text-warning {
  background-color: rgb(var(--v-theme-warning));
  color: rgb(var(--v-theme-on-warning)) !important;
}

.v-tabs.v-tabs-pill .v-tab.v-btn {
  border-radius: 0.375rem !important;
}

/**
DEBUT STEPPER
 */
.app-stepper.stepper-icon-step-bg .stepper-icon-step .step-wrapper {
  flex-direction: row !important;
}

.app-stepper.stepper-icon-step-bg .stepper-icon-step .stepper-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
  background-color: rgba(var(--v-theme-on-surface), var(--v-selected-opacity));
  block-size: 2.5rem;
  color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
  inline-size: 2.5rem;
  margin-inline-end: 0.3rem;
}

.app-stepper.stepper-icon-step-bg .stepper-icon-step .stepper-title,
.app-stepper.stepper-icon-step-bg .stepper-icon-step .stepper-subtitle {
  font-weight: 400 !important;
  line-height: normal;
}

.app-stepper.stepper-icon-step-bg .stepper-icon-step .stepper-title {
  color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));
  font-size: 0.875rem;
}

.app-stepper.stepper-icon-step-bg .stepper-icon-step .stepper-subtitle {
  color: rgba(var(--v-theme-on-surface), var(--v-disabled-opacity));
  font-size: 0.75rem;
}

.app-stepper.stepper-icon-step-bg .stepper-steps-active .stepper-icon-step .stepper-icon {
  background-color: rgb(var(--v-theme-primary));
  color: rgba(var(--v-theme-on-primary));
}

.app-stepper.stepper-icon-step-bg .stepper-steps-completed .stepper-icon-step .stepper-icon {
  background: rgba(var(--v-theme-primary), 0.08);
  color: rgba(var(--v-theme-primary));
}

.app-stepper .v-slide-group__content {
  row-gap: 1.5rem;
}

.app-stepper .v-slide-group__content .stepper-step-indicator {
  border: 0.3125rem solid rgb(var(--v-theme-primary));
  border-radius: 50%;
  background-color: rgb(var(--v-theme-surface));
  block-size: 1.25rem;
  inline-size: 1.25rem;
  opacity: var(--v-activated-opacity);
}

.app-stepper .v-slide-group__content .stepper-step-line {
  border-radius: 0.1875rem;
  background-color: rgb(var(--v-theme-primary));
  block-size: 0.1875rem;
  inline-size: 3.75rem;
  opacity: var(--v-activated-opacity);
}

.app-stepper .v-slide-group__content .stepper-steps-inactive .stepper-icon-step,
.app-stepper .v-slide-group__content .stepper-steps-inactive .stepper-step-icon {
  color: rgba(var(--v-theme-on-surface), var(--v-disabled-opacity));
}

.app-stepper .v-slide-group__content .stepper-steps-active .stepper-icon-step,
.app-stepper .v-slide-group__content .stepper-steps-active .stepper-step-icon {
  color: rgba(var(--v-theme-primary), var(--v-high-emphasis-opacity)) !important;
  font-weight: 700 !important;
}

.app-stepper .v-slide-group__content .stepper-steps-completed .stepper-icon-step,
.app-stepper .v-slide-group__content .stepper-steps-completed .stepper-step-icon {
  color: rgba(var(--v-theme-primary), var(--v-medium-emphasis-opacity)) !important;
}

.app-stepper .v-slide-group__content .stepper-steps-invalid.stepper-steps-active .stepper-icon-step,
.app-stepper .v-slide-group__content .stepper-steps-invalid.stepper-steps-active .step-number,
.app-stepper .v-slide-group__content .stepper-steps-invalid.stepper-steps-active .step-title,
.app-stepper .v-slide-group__content .stepper-steps-invalid.stepper-steps-active .step-subtitle {
  color: rgb(var(--v-theme-error)) !important;
}

.app-stepper.app-stepper-center .v-slide-group__content {
  justify-content: center;
}

.app-stepper.app-stepper-start .v-slide-group__content {
  justify-content: start;
}

.app-stepper.app-stepper-end .v-slide-group__content {
  justify-content: end;
}

/**
FIN STEPPER
 */

/**
Select Radio card effect
 */

.v-label.custom-input {
  padding: 1rem;
  border: 1px solid rgba(var(--v-border-color), var(--v-border-opacity));
  opacity: 1;
  white-space: normal;
}

.v-label.custom-input:hover {
  border-color: rgba(var(--v-border-color), 0.25);
}

.v-label.custom-input.active {
  border-color: rgb(var(--v-theme-primary));
}

.v-label.custom-input.active .v-icon {
  color: rgb(var(--v-theme-primary)) !important;
}

.custom-radio-icon[data-v-f9d8ddd5] {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.custom-radio-icon .v-radio[data-v-f9d8ddd5] {
  margin-block-end: -0.25rem;
}

.custom-radio-icon .cr-title[data-v-f9d8ddd5] {
  font-weight: 500;
}

.custom-radio-icon .v-radio {
  margin-block-end: -0.25rem;
}

.custom-radio-icon .v-radio .v-selection-control__wrapper {
  margin-inline-start: 0;
}

/**
FIN Select Radio card effect
 */

// pour éviter que les g ou autres soient coupés dans les autocomplete
.v-autocomplete__selection-text {
  overflow: visible !important;
}

// pour éviter que les champs compléter via une suggestion du navigateur change de couleur de fond
input:-webkit-autofill {
  -webkit-background-clip: text;
}
